@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@media screen and (max-height: 650px) {
  div.mainContent img.bitcoin {
    width: 200px !important;
    height: 200px !important;
  }
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  font-family: "Merriweather", serif;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

div.mainContent {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100dvh;
  background-image: url("media/background1.png");
  background-position: center;
  background-size: cover;
}
div.mainContent .textWrapper {
  margin-bottom: 10px;
  height: 100px;
  width: -moz-fit-content;
  width: fit-content;
  align-self: center;
}
div.mainContent h1 {
  font-weight: 900;
  font-size: 2.2em;
  width: 100%;
  margin: 0;
  text-align: center;
}
div.mainContent p {
  width: 100%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
div.mainContent img.bitcoin {
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.6);
  -o-object-fit: contain;
     object-fit: contain;
  margin: 10px auto;
  padding-bottom: 110px;
  align-self: center;
  width: 400px;
  height: 400px;
}
div.mainContent img.bitcoin:hover {
  width: 450px;
  height: 450px;
}
div.mainContent img.bitcoin:active {
  width: 350px;
  height: 350px;
}

aside.store {
  margin: 0;
  padding: 0;
  height: 100dvh;
  width: 50%;
  background-color: rosybrown;
  display: flex;
  justify-self: right;
  justify-content: space-between;
}
aside.store h3 {
  margin-top: 6px;
  margin-bottom: 8px;
  font-size: 2em;
  font-weight: 900;
}
aside.store button {
  font-family: "Merriweather", serif;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0px;
  border-style: solid;
  border-color: black;
  margin-top: 0;
  padding: 6px;
  margin-bottom: 4px;
  background-color: rgb(35, 35, 39);
  color: white;
}
aside.store button div.descriptors {
  display: flex;
}
aside.store button p.buttonTitle {
  text-align: left;
  font-weight: 900;
  font-size: 1.4em;
  margin-top: 2px;
  margin-bottom: 2px;
}
aside.store button p.buttonType {
  text-align: left;
  font-style: italic;
  font-size: small;
  margin-top: 0;
  margin-bottom: 2px;
}
aside.store button p.manage {
  text-align: right;
  margin-top: auto;
  font-size: 0.8em;
  font-style: italic;
  margin-bottom: 0;
}
aside.store div.systems {
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
  width: 50%;
  max-height: 100%;
  overflow-y: auto;
  border-right: 2px solid black;
}
aside.store div.systemUpgrades {
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
  width: 50%;
  max-height: 100%;
  overflow-y: auto;
}

.desc {
  font-style: italic;
}

.canBuy {
  color: green;
}

.cannotBuy {
  color: red;
}

span.descriptor {
  font-size: 0.75em;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 4px;
  padding-right: 4px;
  margin-right: 2px;
  border-radius: 8px;
  border-style: solid;
  border-width: 0.5px;
}
span.descriptor.default {
  border-color: rgb(238, 94, 238);
  color: rgb(238, 94, 238);
  background-color: rgb(63, 43, 63);
}
span.descriptor.max {
  border-color: white;
  color: white;
  background-color: rgb(54, 54, 54);
}
span.descriptor.incomeModifierPositive {
  border-color: lightgreen;
  color: lightgreen;
  background-color: rgb(30, 54, 30);
}
span.descriptor.incomeModifierNegative {
  border-color: red;
  color: red;
  background-color: rgb(61, 25, 25);
}
span.descriptor.incomeModifier0 {
  border-color: white;
  color: white;
  background-color: rgb(54, 54, 54);
}

.tooltip {
  font-family: "Merriweather", serif;
}
.tooltip div.tooltipDescriptors {
  width: 50em;
  margin-bottom: 4px;
}
.tooltip div.tooltipMainContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tooltip div.tooltipMainContent p.tooltipTitle {
  width: 45%;
  font-weight: bold;
  font-size: 1.1em;
}
.tooltip div.tooltipMainContent aside {
  width: 100%;
}
.tooltip div.tooltipMainContent aside p {
  text-align: justify;
  font-size: x-small;
  padding-left: 2em;
}
.tooltip div.tooltipMainContent p {
  margin: 0;
  padding: 0;
}
.tooltip div.separator {
  margin: 5px 1px 0;
  height: 1px;
  width: 100%;
  background-color: white;
}/*# sourceMappingURL=index.css.map */